@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "BasicNav.cshtml";
    string cssCurrent = "nav-current";
}
<section id="single-content" class="bg-white">
    <div class="container">
        <div class="section-content blog-content">

            <div class="row">
                 <div class="col-md-2 mt-4 align-self-start">
                    You might also like:
                    <ul class="side-nav">
                        @foreach (var child in Model.Siblings())
                        {
                            <li>
                                @if (Model.Name == child.Name)
                                {
                                    <a class="@cssCurrent" href="@child.Url()">@child.Name</a>
                                }
                                else
                                {
                                    <a href="@child.Url()">@child.Name</a>
                                }

                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-8 mt-4">
                    @Model.Summary
                    <hr />
                    @Model.BodyText
                </div> 
            </div>
        </div>
    </div>
</section>